/* ----------------- Class CSS ----------------- */

*{
    font-family: "Lexend", sans-serif;
}

.about{
    width:400px;
    margin: auto;
}

.about-team{
    color:rgb(107, 112, 92)
}

.authors{
    background-color: #fff3ea;
}

.body{
    background-color: rgb(230, 235, 235);
}

.footer{
    background-color: #6B705C;
}

.icon-white{            /* Arrow icon at bottom of page */
    color: #eae6e6;
}

.nb-background-color{   /* navbar background color */
    background-color: #6B705C;
}

.nbMenuItem{               /* navbar link text properties */
    font-size:25px;
    margin-left: 10px;
    margin-right: 10px;
}

.overview{
    background-color: #fff3ea;
}

.ovPadLeft{
    padding-left: 20px;
}

.ovPadRight{  
    padding-right: 20px;
}

.procedure{
    background-color: #fff3ea;
    padding: 1px;
}

.showcase{
    background-color: #B7B7A4; /*#0096c7*/
}

th{
    background-color: #B7B7A4 !important;
}

/* ----------------- ID CSS ----------------- */

/* -----------------Underline Animation CSS -----------------*/
.hover-underline-animation {
    display: inline-block;
    position: relative;
    /*color: #0087ca;*/
  }
  
.hover-underline-animation:after {
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #eae6e6;
    /*transform-origin: bottom right;*/
    transition: transform 0.35s ease-out;
}
  
.hover-underline-animation:hover:after {
    transform: scaleX(1);
    /*transform-origin: bottom left;*/
}

#chart-wrapper{
    margin: auto;
    padding: 10px;
    /* If nesting a chart's container within another container, remove the 
       height and width values.  The outer container will control the dimensions */ 
    /*height: 40vh; 
    width:  80vw;*/
    min-height: 400px;
    background-color: whitesmoke !important;
    justify-content: center;
    align-items: center;  
}

